img {
  width: 30%;
  height: auto;
}

input[type="radio"] {
  display: none; 
}

.container-circular {
  width: 200px;
  height: 200px; 
  border-radius: 50%; 
  background-color: rgba(231, 185, 101, 0.229); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.ventanaEmergente{
  display: none;
}

.posicionlinea{
  display: inline-block; 
}

.btn-flecha{
  left: -5px;
}

.boton-radius{
  border-radius: 4px;
}